/* toggle button */

.tg-switch-outer{
    width: 3rem;
    height: 2rem;
    display: inline-block;
    background-color: #ffffff;
    position: relative;
    border-radius: 9rem;
    border: 0.5px solid;
}
#checkbox{
    visibility: hidden;
}

#checkbox:checked + .tg-switch-outer .toggle-ball{
    background-color: #fff;
    transform: translateX(14px);
}
.toggle-ball{
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    top: 4.2px;
    left: 5px;
    border: 0.5px solid;
    transition: all 0.1s linear;
}