:root{
    --primary-font:'Oswald', sans-serif;
    --secondary-font:'Poppins', sans-serif;

    --primary-color:rgb(236, 0, 0);
    --secondary-color:rgb(124, 0, 0);

    --theme-white-bg:#f5f8fd;
    --theme-black-bg:#1a252e;

    --theme-white-nav:rgb(255, 255, 255);
    --theme-black-nav:#0E1217;

    --theme-white-card:#ffffff;

    --p-text:rgb(53, 53, 53);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: var(--primary-font);
    background: var(--theme-white-bg);
}